<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EmguCV" version="3.1.0.1" targetFramework="net48" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net48" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="150.1484.0" targetFramework="net48" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1484.0" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net48" />
  <package id="OpenTK" version="1.1.2225.0" targetFramework="net48" />
  <package id="OpenTK.GLControl" version="1.1.2225.0" targetFramework="net48" />
  <package id="ZedGraph" version="5.1.5" targetFramework="net48" />
</packages>